.imgContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.image {
    width: 300px;
    height: auto;
}


/*Model.tsx*/
.modelWrapper {
    text-align: center;
}

.modelImg {
    width: 600px;
    height: auto;
    margin-bottom: 20px;
}